h2
{
    color: #0000FF;
	text-align: center;
}
.affEntete
{
	font-weight: bold;
	color: rgb(0,150,0);
}
.affPseudo
{
	font-weight: bold;
}
#tabMessage
{
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 6px 6px 12px black;
	text-shadow: 2px 2px 4px pink;
	width:50%;
	margin:auto;
}
/* On travaille sur la balise body, donc sur TOUTE la page */
body
{
    background-color: white; /* Le fond de la page sera blanc */
    color: black; /* Le texte de la page sera noir */
	text-align: center;
}
.classeTable
{
	text-align:left;
}
